In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.model_selection import train_test_split as tts

In [2]:
data = pd.read_csv(r"C:\Users\Burhanuddin\Downloads\NationalNames.csv")

In [3]:
data

              Id       Name  Year Gender  Count
0              1       Mary  1880      F   7065
1              2       Anna  1880      F   2604
2              3       Emma  1880      F   2003
3              4  Elizabeth  1880      F   1939
4              5     Minnie  1880      F   1746
...          ...        ...   ...    ...    ...
1825428  1825429     Zykeem  2014      M      5
1825429  1825430     Zymeer  2014      M      5
1825430  1825431    Zymiere  2014      M      5
1825431  1825432      Zyran  2014      M      5
1825432  1825433      Zyrin  2014      M      5

[1825433 rows x 5 columns]

In [4]:
data = data[['Name','Gender']]

In [5]:
data

              Name Gender
0             Mary      F
1             Anna      F
2             Emma      F
3        Elizabeth      F
4           Minnie      F
...            ...    ...
1825428     Zykeem      M
1825429     Zymeer      M
1825430    Zymiere      M
1825431      Zyran      M
1825432      Zyrin      M

[1825433 rows x 2 columns]

In [6]:
X = data['Name']
y = data['Gender']

In [7]:
X_train, X_test, y_train, y_test = tts(X,y, test_size = 0.20, random_state=42)

In [8]:
vector = CountVectorizer()

In [9]:
X_train_vec = vector.fit_transform(X_train)

In [10]:
X_test_vec = vector.transform(X_test)

In [11]:
multi_nb = MultinomialNB()

In [12]:
multi_nb.fit(X_train_vec,y_train)

MultinomialNB()

In [13]:
multi_nb.score(X_test_vec,y_test)

0.8964931646429481

In [14]:
multi_nb.predict(X_test_vec)

array(['F', 'F', 'M', ..., 'M', 'F', 'F'], dtype='<U1')

In [22]:
X = str(input("your Name "))
X_series = pd.Series(X)
x_vec = vector.transform(X_series)
m = multi_nb.predict(x_vec)

if m == 'M':
    print('male name detected')
else:
    print('female name detected')

your Name burhan
male name detected